@font-face {
    font-family: Montserrat;
    src: url('fonts/montserrat-v25-cyrillic_latin-regular.woff2') format('woff'),
    url('fonts/montserrat-v25-cyrillic_latin-regular.woff') format('woff');
    font-weight: 400;
}

@font-face {
    font-family: Montserrat;
    src: url('fonts/montserrat-v25-cyrillic_latin-700.woff2') format('woff'),
    url('fonts/montserrat-v25-cyrillic_latin-700.woff') format('woff');
    font-weight: 700;
}